#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        Del {
            bindings = <&kp DELETE>;
            key-positions = <10 11>;
        };

        ZMK-Studio {
            bindings = <&studio_unlock>;
            key-positions = <22 23>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T      &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G      &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B      &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LALT  &mo 1  &kp ENTER  &kp SPACE  &mo 2  &kp RGUI
            >;
        };

        Lower {
            bindings = <
&trans  &kp LS(EXCL)   &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LC(PG_UP)  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)  &kp LS(RPAR)   &kp LC(PG_DN)  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &kp MINUS      &kp LS(PLUS)  &kp EQUAL      &kp LBKT      &kp RBKT       &kp PERIOD     &kp N1  &kp N2  &kp N3  &trans  &trans
                                     &trans         &trans        &trans         &trans         &kp N0  &trans
            >;
        };

        Raise {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans
                        &trans  &trans  &trans  &trans  &trans    &trans
            >;
        };

        Modifier {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
